.footer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: #e6dbe0;
  padding: 0.5em 0;
}

.para {
  padding: 0;
  margin: 0 2em;
  font-size: 0.9em;
}

.link {
  font-weight: 600;
  text-decoration: none;
  color: black;
}
